<%#
<span class="center"> Have a nice journey among the stars </span>


<div class = "container"> <h1>lorem<h1><br>
<h1>lorem<h1><br>

<h1>lorem<h1><br> %>

  <section id="boat_services" class="main-container">
    <div class="container">
      <div class="row">
        <% @spaceships.reverse.each do |spaceship| %>

        <div class="col-md-4 card-link">
        <%= link_to spaceship_path(spaceship) do %>
          <figure>
            <% if spaceship.photo.attached? %>
              <%= cl_image_tag(spaceship.photo.key, :width => 460, :height => 380, class:"mb-2")%>
            <% else%>
              <img src="https://loremflickr.com/380/460/spaceships" class="mb-2"alt="">
            <% end%>
            <figcaption class="outside">
              <h2 class="text-black"><span><%=spaceship.name%></span></h2>
            <div class="pricereview">
              <p class="medium text-black mb-0"><%=spaceship.price%>㉿ | day</p>
            </div>
              <p class="text-desc"><%=spaceship.description%></p>
            </figcaption>
          </figure>
        <%end%>
        </div>
      <% end %>
      </div>
    </div>
  </section>
