<h1><%= @spaceship.name %></h1>
<p>Name: <%=  @spaceship.name%></p>
<p>Category: <%= @spaceship.category %></p>
<p>Location: <%= @spaceship.location %></p>
<p>description: <%= @spaceship.description %></p>
<p>capacity: <%= @spaceship.capacity %></p>
<p>speed of light: <%= @spaceship.speed_of_light %></p>
<p>brand: <%= @spaceship.brand %></p>