<div class="form-block">
  <div class="left-block">
    <div>
      <% if @spaceship.photo.attached? %>
      <%= cl_image_tag @spaceship.photo.key, height: 380, width: 400, crop: :fill %>
      <% else%>
          <img src="https://loremflickr.com/380/400/spaceships" class="mb-2"alt="">
        <% end%>
    </div>
    <div class="desc-flex">
      <p id="title"><%=  @spaceship.name %></p>
    </div>
    <div id="description-index">
      <div class="desc-flex">
        <p class="description-list">Capacity:</p>
        <p class="description-text"><%= @spaceship.capacity %></p>
      </div>
      <div class="desc-flex">
        <p class="description-list">Speed Of Light:</p>
        <p class="description-text"><%= @spaceship.speed_of_light %></p>
      </div>
      <div class="desc-flex">
        <p class="description-list">Category:</p>
        <p class="description-text"><%= @spaceship.category %></p>
      </div>
      <div class="desc-flex">
        <p class="description-list">Location:</p>
        <p class="description-text"><%= @spaceship.location %></p>
      </div>
      <div class="desc-flex">
        <p class="description-list">Brand:</p>
        <p class="description-text"><%= @spaceship.brand %></p>
      </div>
    </div>
  </div>
  <div class="form-container">
    <div>
      <div id="infinite-text">
        <p> RESERVATION </p>
      </div>
    <%# <div id="price-reviews">
      <p id="price">17990㉿</p>
      <p>★3.8 | 1001 reviews</p>
    </div> %>
    <%= render 'shared/form'%>
    <%# <%= cl_image_tag("X-wing_2_Fathead_zcfe3q",
          width: 400, height: 300, crop: :fill) %>
    </div>
    <div id="infinite-text">
      <p>To the infinite and beyond...</p>
    </div>
    <div id="external-fee">
      <div class="price-flex">
        <p class="description-list">Docking Fee</p>
        <p>2000㉿</p>
      </div>
      <div class="price-flex">
        <p class="description-list">Powering Fee</p>
        <p>20000㉿</p>
      </div>
    </div>
  </div>
</div>
